<html>

<head>

    <title>evefifo - Character List</title>

</head>

<body>

    This is a character list (no really)

    <ul>
        @foreach (var c in Model.Characters) {
            <li>@c.Character.Name  (@c.NumNotifications)</li>
        }
    </ul>

</body>

</html>