@{ 
    Layout = "Layout";
    ViewBag.Title = @Model.Character.Name;
}

Character details for @Model.Character.Name

<p>
    Currently training
    <ul>
        @foreach (var skill in @Model.Character.SkillQueue.Entries)
        {
            <li>@skill.SkillName</li>
        }
    </ul>
</p>